metadata
genomes
outputs
fasta
blast_db
*.xlsx
Danish_sequences
*/__pycache__
.snakemake
.cache
logs
db
annotations
busco
busco_data
busco_downloads
complete
final
strains.txt
.Rproj.user
refined
job_logs
._.DS_Store
.DS_Store
Rplots.pdf
._Rplots.pdf
gtdbtk
protein_check
operon
fastANI
mummer
dnadiff
bcgTree
results
phylogeny
check_broken_clade
alignments
NCIB3610
databases
data
drmaa_logs
report.html
reference_sequences/outgroup
NRSW_trees
ena_submission
rapP_checks

etc/itol_templates/comP_variant_type.txt
etc/itol_templates/overall_status.txt
etc/itol_templates/rapP_NT_status.txt
etc/itol_templates/comP_status.txt

# pixi environments
.pixi
*.egg-info
