xml
genomes
outputs
fasta
blast_db
*.xlsx
Danish_sequences
*/__pycache__
.snakemake
logs
db
annotations
busco
busco_data
busco_downloads
complete
strains.txt
.Rproj.user
refined
job_logs
._.DS_Store
.DS_Store
gtdbtk
protein_check
